body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url('5532919.jpg') center top;
  background-size: cover;
  animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
  0% {
      background-position: center top;
  }
  100% {
      background-position: center bottom;
  }
}

h2, p {
    color: rgb(217, 216, 216);
}

h1 {
    color: rgb(217, 216, 216);
    margin: 20px 0;
}

#dataInput {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
        --clr-font-main: hsla(0 0% 20% / 100);
        --btn-bg-1: hsla(194 100% 69% / 1);
        --btn-bg-2: hsla(217 100% 56% / 1);
        --btn-bg-color: hsla(360 100% 100% / 1);
        --radii: 0.5em;
        cursor: pointer;
        padding: 0.9em 1.4em;
        min-width: 120px;
        min-height: 44px;
        font-size: var(--size, 1rem);
        font-family: "Segoe UI", system-ui, sans-serif;
        font-weight: 500;
        transition: 0.8s;
        background-size: 280% auto;
        background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
        border: none;
        border-radius: var(--radii);
        color: var(--btn-bg-color);
        box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
      }
      
      .btn-donate:hover {
        background-position: right top;
      }
      
      .btn-donate:is(:focus, :focus-visible, :active) {
        outline: none;
        box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
      }
      
      @media (prefers-reduced-motion: reduce) {
        .btn-donate {
          transition: linear;
        }
      }


button:hover {
    background-color: #0056b3;
}

#imagemContainer {
    margin: 20px;
}



@media (max-width: 768px) {
    #dataInput {
        width: 80%;
    }

    button {
        width: 80%;
    }

}
